@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --green: #17B890;
  --grey: #363537;
}

/* HTML elements */

html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

.row {
  max-width: 100%;
  width: 100%;
} 

section {
  height: 100%;
  max-width: 100%;
}

h1, h4 {
  text-align: center;
}

h3 {
  text-align: left;
}

h5 {
  text-align: center;
}

/* Scroll down button */

.scroll-down-button {
  width: 40px; 
  height: 40px;  
  border-radius: 40px;
  color: var(--grey);
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.scroll-down-button i {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-down-button:hover {
  background-color: rgb(47, 50, 56);
  color: white;
}

.scroll-down-button:active {
  transform: translateY(15px);
}

/* Table */

.table-overflow {
  height: 500px !important;
  overflow: auto !important;
  padding: 0px;
}

.theadstick th{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  margin: 0px !important;
}

.tablestrat {
  border-collapse: separate;
  border-spacing: 0;
}

/* Button */

.button {
  width: 200px;
  border: none;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid var(--green);
  border-radius: 40px;
}

.button:hover {
  background-color: var(--green);
  color: white;
}

.button:active {
  border: 2px solid rgb(9, 121, 93);
  background-color: rgb(9, 121, 93);
  box-shadow: 0 2px rgb(182, 182, 182);
  transform: translateY(2px);
  outline: none;
}

.button:focus {
  outline: none;
}

/* Navbar Links */

.navbar-brand {
  color:rgba(255, 255, 255, 0.808);
}

.nav-link {
  color:rgba(255, 255, 255, 0.582);
}

.navbar-brand:hover, .nav-link:hover, .active {
  color:white;
}

/* Full hight */

.full-height {
  margin: 0;
  min-height: 100% !important;
  height: 100% !important;
}

.title-center {
  color: #FFFFFF;
  font-weight: 200;
  font-size: 64px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Cards */

.card {
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

/* About section */

#about-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #E0EEE4;
}

#about, #team {
  position: relative;
}

#teamdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.backtotop {
  width: 200px;
  border: none;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: rgb(47, 50, 56);; 
  border: 2px solid rgb(47, 50, 56);;
  border-radius: 40px;

  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.backtotop:hover {
  background-color: rgb(47, 50, 56);
  color: white;
}

.backtotop:active {
  border: 2px solid rgb(47, 50, 56);
  background-color: rgb(47, 50, 56);
  box-shadow: 0 2px rgb(182, 182, 182);
  transform: translate(-50%, -10px);
  outline: none;
}

.background {
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
  z-index: -10;
  position: absolute;
}

.cube {
  position: absolute;
  left: 30vw;
  width: 10px;
  height: 10px;
  border: solid 1px #17B890;
  border-radius: 1px;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-out forwards infinite;
}

/* .cube:nth-child(2n) {
  border-color: #fff ;
} */

.cube:nth-child(2) {
  animation-delay: 2s;
  left: 22vw;
}

.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
}

.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
}

.cube:nth-child(5) {
  animation-delay: 8s;
  left: 7vw;
}

.cube:nth-child(6) {
  animation-delay: 10s;
  left: 65vw;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 0.5;
    top: 0%;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
    top: 90%;
    border-radius: 7px;
  }
}

#mainContainer {
  padding-left: 40px;
}

/* Forms */

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-top-right-radius: 0.3rem !important; 
  border-bottom-right-radius: 0.3rem !important;
  cursor: pointer;
}

.smaller-font {
  font-size: 14px;
}

.input-group-btn {
  color: var(--grey);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}
